table {

    thead {  

        tr {

            th {

            }
        }
    }

    tbody {

        color: $colorLetra;
        font-size: 1.5rem;

        tr {

            th {

                img {
                    width: 6rem;
                }

            }

            td {

                vertical-align: middle;

                .botonEliminar {

                    background: linear-gradient(to bottom, #ff0000, #ff0000af, #ff000044);
                    color: $colorLetra;
                
                    &:active {
                        transform: scale(0.9);
                        background: linear-gradient(to bottom, #ffffff, #a9a9a9af, #0000005f)
                    }
                }

                .cantidad {

                    width: 4rem;
                    color: $colorLetra;
                    background-color: #484848;
                    padding-left: 1rem;
                    padding-top: 0.3rem;

                    &:hover {
                        padding-left: 0.5rem;
                        padding-top: 0.3rem;
                    }
                }

            }
        }
    }
}

.calculo {

    border-bottom: #ffffff solid;
    border-top: #ffffff solid;
    margin-bottom: 1rem;
    padding-right: 2rem;

    ul {

        list-style-type: none;
        @include flex(row, right, center);
        gap: 3rem;
        margin-top: 1rem;

        li {

            font-size: 1.5rem;
            
        }
    }
}

.botonesCarrito {

    @include flex(row, space-between, center);

    .botonVolverALaTienda {
    
        background: linear-gradient(to bottom, #0008ff, #0d00ffaf, #0000ff44);
        color: $colorLetra;
        margin-right: 1rem;
    
        &:active {
            transform: scale(0.9);
        }

    }

    .botonesCarritoPrincipales {

        @include flex(row, right, center);
    
        .botonVaciarCarrito {
    
            background: linear-gradient(to bottom, #ff9500, #ff9d00af, #ff9d0044);
            color: $colorLetra;
            margin-right: 1rem;
        
            &:active {
                transform: scale(0.9);
            }
        
        }
        
        .botonComprar {
        
            background: linear-gradient(to bottom, #00ff00, #15ff00af, #15ff0044);
            color: $colorLetra;
            font-weight: bolder;
            font-size: 1.2rem;
        
            &:active {
                transform: scale(0.9);
            }
        
        }
    }

}

.modal {

    &.modalComprar {

        .modal-dialog {
           
            .modal-content {
                background-color: #373737;

                .modal-header {

                    .modal-title {
                        font-weight: bolder;
                        text-shadow: map-get($neon, neonAzul);
                    }

                }

                .modal-body {

                    font-weight: bolder;
                    text-shadow: map-get($neon, neonRojo);

                    label {
                        text-shadow: map-get($neon, neonRojo);
                    }

                    input {
                        text-align: center;
                    }
                    
                }

                .modal-footer {
                    
                    .botonCancelar {

                        background: linear-gradient(to bottom, #ff0000, #ff0000af, #ff000044);
                        color: $colorLetra;

                    }

                    .botonConfirmar {

                        background: linear-gradient(to bottom, #00ff00, #15ff00af, #15ff0044);
                        color: $colorLetra;
                        font-weight: bolder;
                        font-size: 1.2rem;
                    }
                }
            }
        }
        
    }
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// T A B L E T ///////////////////////////////////////////////////////////////////////// *
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 768px) { 

    .botonesCarrito {

        @include flex(column, center, center);
        gap: 1rem;

        .botonVolverALaTienda {

            margin-left: 2rem
        }

        .botonesCarritoPrincipales {

            @include flex(row, center, center);
            gap: 1rem;
            margin-left: 1rem

        }

    }
    
    .calculo {

        margin-left: 0.6rem;
    
        ul {
        
            @include flex(row, center, center);
           
        }
    }
}