.conciertos {

  .concierto {
    text-align: center;
    font-size: 30px;
    margin-bottom: 3rem;

    img {
        width: 35px;
        height: 25px;
    }

    button {
        background: linear-gradient(to bottom, #ff0000, #ff0000af, #ff000044);

        &:hover {
            filter: saturate(150%);
        }

        &:active {
            transform: scale(0.9);
            background: linear-gradient(to bottom, #ffffff, #a9a9a9af, #0000005f)
        }
    }
  }
    
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// T A B L E T ///////////////////////////////////////////////////////////////////////// *
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 768px) {

  .conciertos {
    width: 100%;
  }

}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// M O B I L E //////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 576px) {

  .fechasDeConciertos {
    font-size: 3.5rem;
  }  

}

@media screen and (max-width: 390px) {

  .fechasDeConciertos {
    font-size: 2.5rem;
  }

}
