.formulario {
    @include flex(row, center, center);

    form {
        font-size: 1rem;
        width: min-content;
        max-width: 100%;
        background-color: #000000;
        padding: 4rem;
        border-radius: 2%;
    
        input {
            text-align: center;
        }

        textarea {
            max-width: 100%;
            border-radius: 2%;
            padding: 1rem;
        }

        select {

            option {
                text-align: center;
            }
        }
        
        label {
            font-size: 1.3rem;
            text-shadow: map-get($neon, neonRojo);
        }

        .btn-enviar {
            background: linear-gradient(to bottom, #0000ff, #1100ffaf, #0000ff44);
            color: #ffffff;
        
            &:active {
                transform: scale(0.9);
            }
        }
        
        .btn-restablecer {
            background: linear-gradient(to bottom, #9d9999, #4d4d50af, #1b1b1c44);
            color: #ffffff;
            
            &:active {
                transform: scale(0.9);
            }
        }
    }
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// T A B L E T ///////////////////////////////////////////////////////////////////////// *
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 768px) {

  .formulario {
    width: 100%;
    height: auto;

    .form {
        width: 100%;
        height: auto;
      }
  }

}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// M O B I L E //////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */