@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes alejar {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, body, footer {
    font-family: 'Special Elite', cursive;
    color: $colorLetra;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.3fr auto 1fr;
    align-content: space-between;
    background-image: url("../assets/ImagenFondo.png");
    background-color: #000000;
}

h1 {
    text-align: center;
    text-shadow: map-get($neon, neonAzul);
    font-size: 5rem;
    font-weight: bold;
    padding-top: 2rem;
    padding-bottom: 3rem;
    animation: alejar 3s;
}

main {
    text-align: center;
    padding: 2rem 0 6rem 0;
    animation: aparecer 3s;
}

/* navbar //////////////////////////////////////////////////////////////////// */

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #000000;

  .navbar-nav {
    @include flex(row, space-evenly, flex-end);
    background-color: #000000;
    width: 100%;
    
    .nav-item {
      
      .nav-link {
        color: $colorLetra;
        font-size: 20px;
        transition: 0.5s;
        
        &.active {
          color: #ad0c0c !important;
          text-decoration: underline overline #ad0c0c;
          transform: scale(1.2);
        }

        &:hover {
          @extend .active;
        }
        
        &.logo {
          transform: none;
        }
      }

      .dropdown-menu {
        background-color: #000000;
        z-index: 1;

        .dropdown-item {
          padding: 0.5rem;
          font-size: 20px;
          text-align: center;
          color: $colorLetra;
          white-space: unset;
      
          &:hover {
              text-decoration: none;
              background: none;
              color: #ffff00;
          }
        }
      }

    }
    
  }
    
}

/* footer //////////////////////////////////////////////////////////////////// */

footer {

    ul {
        list-style-type: none;
        @include flex(row, center, center);
        padding: 1.2rem;
        gap: 2rem;
        background-color: #252525;
        margin-bottom: 0;

        li {
            color: $colorLetra;
            text-decoration: none;

            a {
                color: #fbff00;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                    color: #fbff00;
                }
            }
        }
    }
    
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////// R E S P O N S I V E - G E N E R A L ////////////////////////////////////////////////////////// *
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (min-width: 993px) {

  .divHamburguesa {
    display: none;
  }

}

@media screen and (max-width: 992px) {
  
  .navbar {

    .hamburguesa {
      justify-content: center !important;
  
      .divHamburguesa {
        @include flex(column, center, unset);
        gap: 10px;

        .navbar-toggler {
          padding: 0;
          font-size: 1rem;
        }
      }
    }

    .navbar-nav {
      @include flex(column, center, center);

      .nav-item {
        width: 100%;
        text-align: center;
        border: #ffffff solid;
        
        .dropdown-menu {
          padding: 0;
          background-color: #000000;
      
          .dropdown-item {
              border: #ff4242 solid;
          }
        }
      }

      .logoli {
        display: none;

      }
    }
  }

}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// T A B L E T ///////////////////////////////////////////////////////////////////////// *
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 768px) {

  body {
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto auto;
  }

  h1 {
    font-size: 4rem;
    margin-top: 6rem !important;
  }

  footer ul {
    @include flex(column, center, center);
    gap: 0.5rem;
  }

}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// M O B I L E //////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 390px) {

  h1 {
    font-size: 2.5rem;
  }

}