.imagenes {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    
    .imagen1 { grid-area: 1 / 1 / 5 / 4; }
    .imagen2 { grid-area: 5 / 1 / 9 / 4; }
    .imagen3 { grid-area: 9 / 1 / 13 / 4; }
    .imagen4 { grid-area: 9 / 10 / 13 / 13; }
    .imagen5 { grid-area: 5 / 10 / 9 / 13; }
    .imagen6 { grid-area: 1 / 10 / 5 / 13; }
    .imagen7 { grid-area: 1 / 4 / 7 / 10; }
    .imagen8 { grid-area: 7 / 4 / 13 / 10; }
    .imagen9 { grid-area: 1 / 1 / 6 / 5; }
    .imagen10 { grid-area: 1 / 9 / 6 / 13; }
    .imagen11 { grid-area: 6 / 1 / 13 / 5; }
    .imagen12 { grid-area: 6 / 9 / 13 / 13; }
    .imagen13 { grid-area: 1 / 5 / 8 / 9; }
    .imagen14 { grid-area: 8 / 5 / 13 / 9; }

    .imagen {
      border-radius: 15px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 1s;
  
      &:hover {
        filter: blur(3px);
        transform: scale(0.9);
        cursor: pointer;
      }
    }
}

.modal {

  .modal-dialog {
    max-width: 80%;
    background-color: #000000;

    .modal-content{
      border: #000000 solid 10px;
      border-radius: 0;

      .btn-close {
        position: absolute;
        cursor: pointer;
        font-size: 2rem;
        right: 0;
      }
    }
  }
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// T A B L E T ///////////////////////////////////////////////////////////////////////// *
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 768px) {

  .imagenes {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);

    &.imagenes2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      margin-top: 20px;
    }

    .imagen1 { grid-area: 1 / 1 / 2 / 2; }
    .imagen2 { grid-area: 1 / 2 / 2 / 3; }
    .imagen3 { grid-area: 2 / 1 / 3 / 2; }
    .imagen4 { grid-area: 2 / 2 / 3 / 3; }
    .imagen5 { grid-area: 3 / 1 / 4 / 2; }
    .imagen6 { grid-area: 3 / 2 / 4 / 3; }
    .imagen7 { grid-area: 4 / 1 / 5 / 2; }
    .imagen8 { grid-area: 4 / 2 / 5 / 3; }
    .imagen9 { grid-area: 1 / 1 / 2 / 2; }
    .imagen10 { grid-area: 1 / 2 / 2 / 3; }
    .imagen11 { grid-area: 2 / 1 / 3 / 2; }
    .imagen12 { grid-area: 2 / 2 / 3 / 3; }
    .imagen13 { grid-area: 3 / 1 / 4 / 2; }
    .imagen14 { grid-area: 3 / 2 / 4 / 3; }

    }

    .modal.show {
      display: flex !important;
      justify-content: center; 
      align-items: center;  
    }
    
  }   

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// M O B I L E //////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 576px) {

  .imagenes, .imagenes2 {
    display: flex;
    flex-direction: column;
  }

  .modal-dialog {
    max-width: 100%;
  }

}