.index {
    @include flex(row, center, center);
    gap: 3rem;

    .bio {
      text-align: justify;
      font-size: 28px;
    }

    .imagenIndex {
      border-radius: 50%;
      max-width: 100%;
      height: auto;
      transition: all 2s;
      padding-right: 1rem;
      
      &:hover {
          transform: rotateY(180deg);
      }
    }
}

.redesSociales {
    list-style-type: none;
    @include flex(row, center, center);
    padding: 2rem;
    gap: 3rem;
    margin-top: 2rem;

    img {
        transition: all 1s;

        &:hover {
            transform: scale(1.5);
        }
    }
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////// R E S P O N S I V E - G E N E R A L ////////////////////////////////////////////////////////// *
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 992px) {
  
  .index {
    flex-flow: column wrap;

    .bio {
      min-width: 100%;
    }

    .imagenIndex {
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// T A B L E T ///////////////////////////////////////////////////////////////////////// *
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 768px) {
   
  .redesSociales {
    display: grid;
    grid-template-areas: 
    "red1 . red2 . red3"
    ". red4 . red5 .";
    justify-content: center;
    max-width: 100%;

    .red1 {
      grid-area: red1;
    }
    
    .red2 {
      grid-area: red2;
    }
    
    .red3 {
      grid-area: red3;
    }
    
    .red4 {
      grid-area: red4;
    }
    
    .red5 {
      grid-area: red5;
    }

    img {
      transform: scale(1.2);
    }
  } 

}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// M O B I L E //////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 576px) {

  .index {

    .bio {
      hyphens: auto;
    }

  }
  
  .redesSociales {
    display: grid;
    grid-template-areas: 
    "red1 . red2"
    ". red3 ."
    "red4 . red5";
    justify-content: center;

    .red1 {
      grid-area: red1;
    }
  
    .red2 {
      grid-area: red2;
    }
  
    .red3 {
      grid-area: red3;
    }
  
    .red4 {
      grid-area: red4;
    }
  
    .red5 {
      grid-area: red5;
    }
  }

}

