.lineaTienda {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 2rem;

    .card {
        --bs-card-bg: none;
        border-color: #0000ff solid;
    
        .card-img-top {
    
        }
    
        .card-body {
            background-color: black;
            flex: none;
    
            .card-title {
                font-size: 2rem;
                font-weight: bolder;
                text-shadow: map-get($neon, neonRojo);
            }
    
            .card-text {
                font-size: 1.5rem;
            }

            .card-price {

                @extend .card-text;
                color: #adff2f;
                
            }
    
            .botonAgregar {
                background: linear-gradient(to bottom, #0000ff, #1100ffaf, #0000ff44);
                color: #ffffff;
                max-width: 100%;
            
                &:active {
                    transform: scale(0.9);
                }

                &.botonAgregado {
                    background: linear-gradient(to bottom, #00ff11, #22ff00af, #04ff0044);
                }
            }
        }
    }

}

.iconoCarrito {
    position:fixed;
    bottom:1rem;
    right:1rem;

    img {
        width: 6rem;
    }
}

.iconoCantidadCarrito {
    position:fixed;
    width:2.2rem;
    height:2.2rem;
    bottom:5.1rem;
    right:2.6rem;
    padding-top: 5.5px;
    background-color:#d32525;
    color:#FFF;
    border-radius:50px;
    text-decoration: none;
    font-size:1rem;
    z-index:1;
    border: #ffff00 solid;

    &:hover {
        color:#FFF;
    }
  }

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// T A B L E T ///////////////////////////////////////////////////////////////////////// *
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media only screen and (min-width: 768px) and (max-width: 970px) {

    .lineaTienda {
        
        .card {
            
            .card-body {
                
                .botonAgregar {
                    font-size: 0.6rem;          
                    
                 }
            }
    
        }

    }
}

@media screen and (max-width: 768px) {

  .lineaTienda {
  
      .card {
        margin-bottom: 2rem;

        }
    }
}    