@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes alejar {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, body, footer {
  font-family: "Special Elite", cursive;
  color: #ffffff;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.3fr auto 1fr;
  align-content: space-between;
  background-image: url("../assets/ImagenFondo.png");
  background-color: #000000;
}

h1 {
  text-align: center;
  text-shadow: 1px 1px 2px #020202, 0 0 25px #0000ff, 0 0 5px #00008b;
  font-size: 5rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 3rem;
  animation: alejar 3s;
}

main {
  text-align: center;
  padding: 2rem 0 6rem 0;
  animation: aparecer 3s;
}

/* navbar //////////////////////////////////////////////////////////////////// */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #000000;
}
.navbar .navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  background-color: #000000;
  width: 100%;
}
.navbar .navbar-nav .nav-item .nav-link {
  color: #ffffff;
  font-size: 20px;
  transition: 0.5s;
}
.navbar .navbar-nav .nav-item .nav-link.active, .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #ad0c0c !important;
  text-decoration: underline overline #ad0c0c;
  transform: scale(1.2);
}
.navbar .navbar-nav .nav-item .nav-link.logo {
  transform: none;
}
.navbar .navbar-nav .nav-item .dropdown-menu {
  background-color: #000000;
  z-index: 1;
}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  padding: 0.5rem;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  white-space: unset;
  transition: 0.5s;
}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  text-decoration: none;
  background: none;
  color: #ffff00;
}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item.itemTienda {
  color: #00fff7;
  font-size: 25px;
  font-weight: bolder;
}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item.itemTienda:hover {
  transform: scale(1.3);
}

/* footer //////////////////////////////////////////////////////////////////// */
footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  gap: 2rem;
  background-color: #252525;
  margin-bottom: 0;
}
footer ul li {
  color: #ffffff;
  text-decoration: none;
}
footer ul li a {
  color: #fbff00;
  text-decoration: none;
}
footer ul li a:hover {
  text-decoration: underline;
  color: #fbff00;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////// R E S P O N S I V E - G E N E R A L ////////////////////////////////////////////////////////// *
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (min-width: 993px) {
  .divHamburguesa {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .navbar .hamburguesa {
    justify-content: center !important;
  }
  .navbar .hamburguesa .divHamburguesa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: unset;
    gap: 10px;
  }
  .navbar .hamburguesa .divHamburguesa .navbar-toggler {
    padding: 0;
    font-size: 1rem;
  }
  .navbar .navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navbar .navbar-nav .nav-item {
    width: 100%;
    text-align: center;
    border: #ffffff solid;
    padding-top: 3px;
  }
  .navbar .navbar-nav .nav-item .dropdown-menu {
    padding: 0;
    background-color: #000000;
  }
  .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    border: #ff4242 solid;
    padding-top: 12px;
  }
  .navbar .navbar-nav .logoli {
    display: none;
  }
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// T A B L E T ///////////////////////////////////////////////////////////////////////// *
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 768px) {
  body {
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto auto;
  }
  h1 {
    font-size: 4rem;
    margin-top: 6rem !important;
  }
  footer ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// M O B I L E //////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 390px) {
  h1 {
    font-size: 2.5rem;
  }
}
.index {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.index .bio {
  text-align: justify;
  font-size: 28px;
}
.index .imagenIndex {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  transition: all 2s;
  padding-right: 1rem;
}
.index .imagenIndex:hover {
  transform: rotateY(180deg);
}

.redesSociales {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 3rem;
  margin-top: 2rem;
}
.redesSociales img {
  transition: all 1s;
}
.redesSociales img:hover {
  transform: scale(1.5);
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////// R E S P O N S I V E - G E N E R A L ////////////////////////////////////////////////////////// *
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 992px) {
  .index {
    flex-flow: column wrap;
  }
  .index .bio {
    min-width: 100%;
  }
  .index .imagenIndex {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// T A B L E T ///////////////////////////////////////////////////////////////////////// *
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 768px) {
  .redesSociales {
    display: grid;
    grid-template-areas: "red1 . red2 . red3" ". red4 . red5 .";
    justify-content: center;
    max-width: 100%;
  }
  .redesSociales .red1 {
    grid-area: red1;
  }
  .redesSociales .red2 {
    grid-area: red2;
  }
  .redesSociales .red3 {
    grid-area: red3;
  }
  .redesSociales .red4 {
    grid-area: red4;
  }
  .redesSociales .red5 {
    grid-area: red5;
  }
  .redesSociales img {
    transform: scale(1.2);
  }
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// M O B I L E //////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 576px) {
  .index .bio {
    hyphens: auto;
  }
  .redesSociales {
    display: grid;
    grid-template-areas: "red1 . red2" ". red3 ." "red4 . red5";
    justify-content: center;
  }
  .redesSociales .red1 {
    grid-area: red1;
  }
  .redesSociales .red2 {
    grid-area: red2;
  }
  .redesSociales .red3 {
    grid-area: red3;
  }
  .redesSociales .red4 {
    grid-area: red4;
  }
  .redesSociales .red5 {
    grid-area: red5;
  }
}
.albumes h2 {
  text-shadow: 1px 1px 2px #020202, 0 0 25px #ff0000, 0 0 5px #8b0000;
  font-size: 4rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 0 !important;
  margin-top: 3rem !important;
}
.albumes div img {
  border-radius: 12px;
  width: 100%;
  transition: all 1s;
}
.albumes div img:hover {
  filter: saturate(200%);
}
.albumes div iframe {
  border-radius: 12px;
  width: 100%;
  height: 100%;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////// R E S P O N S I V E - G E N E R A L ////////////////////////////////////////////////////////// *
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 1200px) {
  .albumes h2 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 992px) {
  .albumes h2 {
    font-size: 2rem;
  }
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// T A B L E T ///////////////////////////////////////////////////////////////////////// *
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 768px) {
  .albumes h2 {
    text-align: center;
    font-size: 3rem;
  }
  .albumes div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .albumes div img {
    width: 100%;
    height: auto;
  }
  .albumes div iframe {
    width: 100%;
    height: 30rem;
  }
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// M O B I L E //////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 576px) {
  .albumes h2 {
    font-size: 2rem;
  }
}
.conciertos .concierto {
  text-align: center;
  font-size: 30px;
  margin-bottom: 3rem;
}
.conciertos .concierto img {
  width: 35px;
  height: 25px;
}
.conciertos .concierto button {
  background: linear-gradient(to bottom, #ff0000, rgba(255, 0, 0, 0.6862745098), rgba(255, 0, 0, 0.2666666667));
}
.conciertos .concierto button:hover {
  filter: saturate(150%);
}
.conciertos .concierto button:active {
  transform: scale(0.9);
  background: linear-gradient(to bottom, #ffffff, rgba(169, 169, 169, 0.6862745098), rgba(0, 0, 0, 0.3725490196));
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// T A B L E T ///////////////////////////////////////////////////////////////////////// *
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 768px) {
  .conciertos {
    width: 100%;
  }
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// M O B I L E //////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 576px) {
  .fechasDeConciertos {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 390px) {
  .fechasDeConciertos {
    font-size: 2.5rem;
  }
}
.formulario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.formulario form {
  font-size: 1rem;
  width: min-content;
  max-width: 100%;
  background-color: #000000;
  padding: 4rem;
  border-radius: 2%;
}
.formulario form input {
  text-align: center;
}
.formulario form textarea {
  max-width: 100%;
  border-radius: 2%;
  padding: 1rem;
}
.formulario form select option {
  text-align: center;
}
.formulario form label {
  font-size: 1.3rem;
  text-shadow: 1px 1px 2px #020202, 0 0 25px #ff0000, 0 0 5px #8b0000;
}
.formulario form .btn-enviar {
  background: linear-gradient(to bottom, #0000ff, rgba(17, 0, 255, 0.6862745098), rgba(0, 0, 255, 0.2666666667));
  color: #ffffff;
}
.formulario form .btn-enviar:active {
  transform: scale(0.9);
}
.formulario form .btn-restablecer {
  background: linear-gradient(to bottom, #9d9999, rgba(77, 77, 80, 0.6862745098), rgba(27, 27, 28, 0.2666666667));
  color: #ffffff;
}
.formulario form .btn-restablecer:active {
  transform: scale(0.9);
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// T A B L E T ///////////////////////////////////////////////////////////////////////// *
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 768px) {
  .formulario {
    width: 100%;
    height: auto;
  }
  .formulario .form {
    width: 100%;
    height: auto;
  }
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// M O B I L E //////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.imagenes {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.imagenes .imagen1 {
  grid-area: 1/1/5/4;
}
.imagenes .imagen2 {
  grid-area: 5/1/9/4;
}
.imagenes .imagen3 {
  grid-area: 9/1/13/4;
}
.imagenes .imagen4 {
  grid-area: 9/10/13/13;
}
.imagenes .imagen5 {
  grid-area: 5/10/9/13;
}
.imagenes .imagen6 {
  grid-area: 1/10/5/13;
}
.imagenes .imagen7 {
  grid-area: 1/4/7/10;
}
.imagenes .imagen8 {
  grid-area: 7/4/13/10;
}
.imagenes .imagen9 {
  grid-area: 1/1/6/5;
}
.imagenes .imagen10 {
  grid-area: 1/9/6/13;
}
.imagenes .imagen11 {
  grid-area: 6/1/13/5;
}
.imagenes .imagen12 {
  grid-area: 6/9/13/13;
}
.imagenes .imagen13 {
  grid-area: 1/5/8/9;
}
.imagenes .imagen14 {
  grid-area: 8/5/13/9;
}
.imagenes .imagen {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s;
}
.imagenes .imagen:hover {
  filter: blur(3px);
  transform: scale(0.9);
  cursor: pointer;
}

.modal .modal-dialog {
  max-width: 80%;
  background-color: #000000;
}
.modal .modal-dialog .modal-content {
  border: #000000 solid 10px;
  border-radius: 0;
}
.modal .modal-dialog .modal-content .btn-close {
  position: absolute;
  cursor: pointer;
  font-size: 2rem;
  right: 0;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// T A B L E T ///////////////////////////////////////////////////////////////////////// *
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 768px) {
  .imagenes {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .imagenes.imagenes2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 20px;
  }
  .imagenes .imagen1 {
    grid-area: 1/1/2/2;
  }
  .imagenes .imagen2 {
    grid-area: 1/2/2/3;
  }
  .imagenes .imagen3 {
    grid-area: 2/1/3/2;
  }
  .imagenes .imagen4 {
    grid-area: 2/2/3/3;
  }
  .imagenes .imagen5 {
    grid-area: 3/1/4/2;
  }
  .imagenes .imagen6 {
    grid-area: 3/2/4/3;
  }
  .imagenes .imagen7 {
    grid-area: 4/1/5/2;
  }
  .imagenes .imagen8 {
    grid-area: 4/2/5/3;
  }
  .imagenes .imagen9 {
    grid-area: 1/1/2/2;
  }
  .imagenes .imagen10 {
    grid-area: 1/2/2/3;
  }
  .imagenes .imagen11 {
    grid-area: 2/1/3/2;
  }
  .imagenes .imagen12 {
    grid-area: 2/2/3/3;
  }
  .imagenes .imagen13 {
    grid-area: 3/1/4/2;
  }
  .imagenes .imagen14 {
    grid-area: 3/2/4/3;
  }
  .modal.show {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// M O B I L E //////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 576px) {
  .imagenes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .imagenes.imagenes2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .modal .modal-dialog {
    max-width: 100%;
  }
}
.parVideos {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
}
.parVideos .video {
  text-align: center;
}
.parVideos .video iframe {
  border-radius: 10px;
  width: 100%;
  height: 25rem;
}
.parVideos .video h3 {
  text-shadow: 1px 1px 2px #020202, 0 0 25px #ff0000, 0 0 5px #8b0000;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 4rem;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////// R E S P O N S I V E - G E N E R A L ////////////////////////////////////////////////////////// *
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 1200px) {
  .parVideos .video iframe {
    height: 18rem;
  }
  .parVideos .video h3 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 992px) {
  .parVideos .video iframe {
    height: 13rem;
  }
  .parVideos .video h3 {
    font-size: 2rem;
  }
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// T A B L E T ///////////////////////////////////////////////////////////////////////// *
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 768px) {
  .parVideos .video iframe {
    height: 20rem;
  }
  .parVideos .video h3 {
    font-size: 3rem;
  }
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// M O B I L E //////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 576px) {
  .parVideos .video iframe {
    height: 16rem;
  }
  .parVideos .video h3 {
    font-size: 2rem;
  }
}
.lineaTienda {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 2rem;
}
.lineaTienda .card {
  --bs-card-bg: none;
  border-color: #0000ff solid;
}
.lineaTienda .card .card-body {
  background-color: black;
  flex: none;
}
.lineaTienda .card .card-body .card-title {
  font-size: 2rem;
  font-weight: bolder;
  text-shadow: 1px 1px 2px #020202, 0 0 25px #ff0000, 0 0 5px #8b0000;
}
.lineaTienda .card .card-body .card-text, .lineaTienda .card .card-body .card-price {
  font-size: 1.5rem;
}
.lineaTienda .card .card-body .card-price {
  color: #adff2f;
}
.lineaTienda .card .card-body .botonAgregar {
  background: linear-gradient(to bottom, #0000ff, rgba(17, 0, 255, 0.6862745098), rgba(0, 0, 255, 0.2666666667));
  color: #ffffff;
  max-width: 100%;
}
.lineaTienda .card .card-body .botonAgregar:active {
  transform: scale(0.9);
  background: linear-gradient(to bottom, #ffffff, rgba(139, 139, 139, 0.6862745098), rgba(0, 0, 0, 0.2666666667));
}

.iconoCarrito {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
.iconoCarrito img {
  width: 6rem;
}

.iconoCantidadCarrito {
  position: fixed;
  width: 2.2rem;
  height: 2.2rem;
  bottom: 5.1rem;
  right: 2.6rem;
  padding-top: 5.5px;
  background-color: #d32525;
  color: #FFF;
  border-radius: 50px;
  text-decoration: none;
  font-size: 1rem;
  z-index: 1;
  border: #ffff00 solid;
}
.iconoCantidadCarrito:hover {
  color: #FFF;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// T A B L E T ///////////////////////////////////////////////////////////////////////// *
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media only screen and (min-width: 768px) and (max-width: 970px) {
  .lineaTienda .card .card-body .botonAgregar {
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 768px) {
  .lineaTienda .card {
    margin-bottom: 2rem;
  }
}
table tbody {
  color: #ffffff;
  font-size: 1.5rem;
}
table tbody tr th img {
  width: 6rem;
}
table tbody tr td {
  vertical-align: middle;
}
table tbody tr td .botonEliminar {
  background: linear-gradient(to bottom, #ff0000, rgba(255, 0, 0, 0.6862745098), rgba(255, 0, 0, 0.2666666667));
  color: #ffffff;
}
table tbody tr td .botonEliminar:active {
  transform: scale(0.9);
  background: linear-gradient(to bottom, #ffffff, rgba(169, 169, 169, 0.6862745098), rgba(0, 0, 0, 0.3725490196));
}
table tbody tr td .cantidad {
  width: 3.5rem;
  color: #ffffff;
  background-color: #484848;
  padding-left: 1.2rem;
  padding-top: 0.3rem;
}
table tbody tr td .cantidad:hover {
  padding-left: 0.3rem;
  padding-top: 0.3rem;
}

.calculo {
  border-bottom: #ffffff solid;
  border-top: #ffffff solid;
  margin-bottom: 1rem;
  padding-right: 2rem;
}
.calculo ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 3rem;
  margin-top: 1rem;
}
.calculo ul li {
  font-size: 1.5rem;
}

.botonesCarrito {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}
.botonesCarrito .botonVaciarCarrito {
  background: linear-gradient(to bottom, #0008ff, rgba(13, 0, 255, 0.6862745098), rgba(0, 0, 255, 0.2666666667));
  color: #ffffff;
  margin-right: 1rem;
}
.botonesCarrito .botonVaciarCarrito:active {
  transform: scale(0.9);
}
.botonesCarrito .botonComprar {
  background: linear-gradient(to bottom, #00ff00, rgba(21, 255, 0, 0.6862745098), rgba(21, 255, 0, 0.2666666667));
  color: #ffffff;
  font-weight: bolder;
  font-size: 1.2rem;
}
.botonesCarrito .botonComprar:active {
  transform: scale(0.9);
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// T A B L E T ///////////////////////////////////////////////////////////////////////// *
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 768px) {
  .botonesCarrito {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .calculo {
    margin-left: 0.6rem;
  }
  .calculo ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

/*# sourceMappingURL=styles.css.map */
